html, body {
    margin: 0;
    width: 100%;
    height: 100%;
}

canvas {
    display: block;
    width: 100%;
    height: 100%;
}

#gba_image {
    width: 27%;
    height: auto;
    position: absolute
}

#cart_image {
    width: 10%;
    height auto;
    position: absolute;
}
